<mat-card>
    <mat-card-title>Ingresar Parametros</mat-card-title>
    <span *ngIf="mostrarAdvertencia(); else space" class="text-danger">*Todos los campos son obligatorios</span>
    <ng-template #space>
      <br>
    </ng-template>
    <form [formGroup]="generateData" (ngSubmit)="generarNumeros()">
        <div class="row">
            <mat-form-field appearance="outline" fxFlex="100" >
                <mat-label>Semilla (x0)</mat-label>
                <input matInput
                placeholder="Ingrese un numero entero"
                type="number"
                formControlName="x0"
                required>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Numero entero preferentemente impar (k)</mat-label>
              <input matInput
              type="number"
              placeholder="Ingrese un numero entero"
              formControlName="k"
              (input)="calcularA()"
              required>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col">
                <label class="h6 me-3">Seleccione una opcion: </label>
                <mat-radio-group formControlName="equations"
                (change)="calcularA()">
                    <mat-radio-button class="me-2" value="1">3+8k</mat-radio-button>
                    <mat-radio-button  value="2">5+8k</mat-radio-button>
                    <mat-hint>
                        <p class="ms-2 h6">EL VALOR DE a es: {{valueA}}</p>
                    </mat-hint>
                </mat-radio-group>
            </div>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Numero entero (g)</mat-label>
              <input matInput
              type="number"
              placeholder="Ingrese un numero entero"
              formControlName="g"
              (input)="calcularM()"
              required>
              <mat-hint>
                <p class="h6">EL VALOR DE m es: {{valueM}}</p>
              </mat-hint>
            </mat-form-field>
        </div>

        <div class="row ">
            <div class="col mt-3 mx-auto d-flex justify-content-center">
                <button  mat-raised-button color="primary" type="submit">
                    <mat-icon>arrow_forward</mat-icon>
                    GENERAR NUMEROS
                </button>
            </div>
        </div>

    </form>
</mat-card>