<mat-card>
    
    <mat-card-title>Ingresar Parametros</mat-card-title>
    <span *ngIf="mostrarAdvertencia(); else space" class="text-danger">*Todos los campos son obligatorios</span>
    <ng-template #space>
      <br>
    </ng-template>
    <form [formGroup]="generateData" (ngSubmit)="generarNumeros()">
        <div class="row">
            <mat-form-field appearance="outline" fxFlex="100" >
                <mat-label>Semilla (x0)</mat-label>
                <input matInput
                placeholder="Ingrese un numero entero"
                type="number"
                formControlName="x0"
                required>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" fxFlex="100" >
                <mat-label>Semilla (x1)</mat-label>
                <input matInput
                placeholder="Ingrese un numero entero"
                type="number"
                formControlName="x1"
                required>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Cantidad de numeros a generar</mat-label>
              <input matInput
              type="number"
              placeholder="Ingrese un numero entero"
              formControlName="n"
              required>
            </mat-form-field>
        </div>

        <div class="row ">
            <div class="col mt-3 mx-auto d-flex justify-content-center">
                <button  mat-raised-button color="primary" type="submit">
                    <mat-icon>arrow_forward</mat-icon>
                    GENERAR NUMEROS
                </button>
            </div>
        </div>

    </form>
</mat-card>