
<div class="title">
    <h3>ALGORITMO LINEAL</h3>
</div>
<hr>


<div class="container">
  
  <div class="row">
    <div class="row">
      <div class="col-5">
        <div class="row">
          <div class="container">
            <mat-card>
              <mat-card-title>Ingresar Parametros</mat-card-title>
              <div class="row">
                <mat-form-field fxFlex="100">
                  <mat-label>Ingrese Semilla (x0)</mat-label>
                  <input matInput
                  type="text"
                  required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field fxFlex="100">
                  <mat-label>Ingrese un numero entero (k)</mat-label>
                  <input matInput
                  type="text"
                  required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field fxFlex="100">
                  <mat-label>Ingrese un numero entero (g)</mat-label>
                  <input matInput
                  type="text"
                  required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field fxFlex="100">
                  <mat-label>Ingrese un numero primo relativo a m (c)</mat-label>
                  <input matInput
                  type="text"
                  required>
                </mat-form-field>
              </div>
              <div class="row ">
                <div class="col mx-auto d-flex justify-content-center">
                  <button mat-raised-button color="primary">
                    <mat-icon>arrow_forward</mat-icon>
                    GENERAR NUMEROS ALEATORIOS
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        
        
        
      </div>
      <div class="col-7">
        <mat-card>
          <mat-card-title>Actions Buttons</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-button>Like</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>